
@model ResponseViewModel<ResponsePagedList<PostListDTO>>
@{
    ViewData["Title"] = "Posts";
}


@if (Model.Status == ResponseStatus.Success)
{
    <partial name="_SearchNavbar" model="new NavbarViewModel(){ RecordsPerPage = Model.Content.RecordsPerPage, SearchKeyWord = Model.Content.SearchKeyWord,ShowCreateNewButton = true }" />

    if (Model.Content.List.Count() <= 0)
    {
        <partial name="_NoResults" />
    }
    else
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Type</th>
                    <th scope="col">Mood</th>
                    <th scope="col">Votes</th>
                    <th scope="col">Comments</th>
                    <th scope="col">View</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Content.List)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.UserName</td>
                        <td>@item.PostType</td>
                        <td>@item.MoodType</td>
                        <td>@item.Votes</td>
                        <td>@item.Comments</td>

                        <td>

                            <a class="btn btn-danger"
                               asp-area=""
                               asp-controller="Post"
                               asp-action="View"
                               asp-route-id="@item.Id">Delete</a>


                        </td>
                    </tr>
                }

            </tbody>
        </table>


        <partial name="_Pager" model='new PagerViewModel{
                RecordsPerPage = Model.Content.RecordsPerPage,
                SearchKeyWord = Model.Content.SearchKeyWord,
                PageCount = Model.Content.PageCount,
                CurrentPage = Model.Content.CurrentPage,
                Action = "Index",
                Controller = "Post"
                }' />

    }

}
else
{
    <partial name="_ErrorAlert" model="@Model.MessageList" />
}

