@model ResponseViewModel<ResponsePagedList<MoodTypeReadDTO>>
@{
    ViewData["Title"] = "Mood Type";
}


<a asp-controller="MoodType" asp-action="Create" class="btn btn-primary">Create new</a>

<div class="container">
    @if (Model.Status == ResponseStatus.Success)
    {

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Mood</th>
                    <th scope="col">Is Available</th>
                    <th scope="col">Post Count</th>
                    <th scope="col">View</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Content.List)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Mood</td>
                        <td>@item.IsAvailable</td>
                        <td>@item.PostCount</td>
                        <td>

                            <a class="btn btn-primary"
                               asp-area=""
                               asp-controller="MoodType"
                               asp-action="View"
                               asp-route-id="@item.Id">View</a>




                        </td>
                        <td>

                            <a class="btn btn-primary"
                               asp-area=""
                               asp-controller="MoodType"
                               asp-action="Edit"
                               asp-route-id="@item.Id">Edit</a>

                   


                        </td>
                        <td>

                            <a class="btn btn-danger"
                               asp-area=""
                               asp-controller="MoodType"
                               asp-action="Delete"
                               asp-route-id="@item.Id">Delete</a>


                        </td>
                    </tr>
                }

            </tbody>
        </table>

        @if (Model.Content.PageCount > 1)
        {
            <nav aria-label="Page navigation ">
                <ul class="pagination">

                    @if (Model.Content.CurrentPage == 1)
                    {
                        <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">

                            <a class="page-link"
                               asp-area=""
                               asp-controller="MoodType"
                               asp-action="Index"
                               asp-route-currentpage="@(Model.Content.CurrentPage-1)"
                               asp-route-recordsperpage="@Model.Content.RecordsPerPage"
                               asp-route-searchkeyword="@Model.Content.SearchKeyWord">Previous</a>

                        </li>



                    }


                    @for (int i = 1; i < Model.Content.PageCount + 1; i++)
                    {
                        if (i == Model.Content.CurrentPage)
                        {
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">


                                <a class="page-link"
                                   asp-area=""
                                   asp-controller="MoodType"
                                   asp-action="Index"
                                   asp-route-currentpage="@i"
                                   asp-route-recordsperpage="@Model.Content.RecordsPerPage"
                                   asp-route-searchkeyword="@Model.Content.SearchKeyWord">@i</a>

                            </li>

                        }
                    }

                    @if (Model.Content.CurrentPage == Model.Content.PageCount)
                    {
                        <li class="page-item disabled">
                            <a class="page-link">Next</a>
                        </li>
                    }
                    else
                    {

                        <li class="page-item">

                            <a class="page-link"
                               asp-area=""
                               asp-controller="MoodType"
                               asp-action="Index"
                               asp-route-currentpage="@(Model.Content.CurrentPage+1)"
                               asp-route-recordsperpage="@Model.Content.RecordsPerPage"
                               asp-route-searchkeyword="@Model.Content.SearchKeyWord">Next</a>

                        </li>

                    }

                </ul>
            </nav>
        }


    }
    else
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in Model.MessageList)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }

</div>